{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Vista Fit Out & Waterproofing</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/vista.png' %}" rel="icon">
  {% comment %} <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon"> {% endcomment %}

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'hero.css' %}">


  <style>
    .loading, .error-message, .sent-message {
      display: none;
    }
  
  </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container-fluid">

      <div class="row justify-content-center">
        <div class="col-xl-9 d-flex align-items-center justify-content-lg-between">
          {% comment %} <h1 class="logo me-auto me-lg-0"><a href="index.html">Vista Fit Out</a></h1> {% endcomment %}
          
          <!-- Uncomment below if you prefer to use an image logo -->
          <a href="#hero" class="logo me-auto me-lg-0"><img src="{% static "assets/img/logo.png" %}" alt="" class="img-fluid"></a>

          <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
              <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
              <li><a class="nav-link scrollto" href="#about">About</a></li>
              <li><a class="nav-link scrollto" href="#services">Services</a></li>
              <li><a class="nav-link scrollto " href="#portfolio">Gallery</a></li>
              
              <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->

          <a href="#about" class="get-started-btn scrollto">Get Started</a>
        </div>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8">
          <h1>Vista Fit Out & Waterproofing</h1>
          <h2>We do all maintenance, interior solutions, and waterproofing with professionalism and complete responsibility.</h2>
          {% comment %} <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a> {% endcomment %}
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              We offer top-notch Commercial and Technical services that meet our clients' needs. Vista FitOut, we prioritize delivering a smooth repair experience. Our team of skilled professionals is equipped to handle various repairs, Waterproofing, electrical systems, plumbing, and more. We are prepared for jobs of any size.Our expertise extends to a wide range of construction specialties, ensuring that your projects are shielded against water damage with precision.
            </p>
            <ul>
              
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              With Vista fit out at the helm, you can rest assured that your structures will be
               fortified against moisture intrusion while benefiting from durable industrial flooring 
               solutions tailored to your specific needs.
            </p>
            <a href="#services" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <p>Vista Fit Out is an expert in injection and cementitious waterproofing techniques, providing a variety of services that include roof waterproofing, plumbing, cleaning etc.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-water"></i></div>
              <h4><a href="">Terrace Waterproofing</a></h4>
              <p>We provide cutting-edge options for terrace waterproofing, guaranteeing enduring defense against water harm. Utilizing our cutting-edge technology and proficiency in the area, we supply dependable and efficient waterproofing options for both residential and commercial buildings.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bxs-factory"></i></div>
              <h4><a href="">Floor & Wall Tiles</a></h4>
              <p>Tiles that are cracked or damaged can contain dangerous germs. Tiles that are not well looked after in the kitchen and bathroom can cause a gradual leak of water, which can cause more harm to the property.
                Our skilled and licensed civil work experts are fully prepared to correctly diagnose and solve any issues effortlessly. Our team is dedicated to applying the newest methods and using top-notch materials.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-paint-roll"></i></div>
              <h4><a href="">Painting</a></h4>
              <p>Achieving a beautiful home is a priority for many, but maintaining wall paint can be a constant challenge. we comprehend this struggle and have a team of skilled professionals ready to tackle it at competitive rates. Specializing in both small and large painting projects for commercial and residential spaces, we prioritize industry best practices and high-quality paints to guarantee customer contentment.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-mastercard"></i></div>
              <h4><a href="">Plumbing</a></h4>
              <p>Plumbing problems can quickly turn into a major headache. Our skilled and trained plumbing specialists are equipped to handle a variety of tasks promptly. The Vista Fit Out plumbing team specializes in preventive maintenance, repairs, cleaning, unclogging, leak detection, and the replacement or installation of fixtures.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-plug"></i></div>
              <h4><a href="">Electrical</a></h4>
              <p>Recognizing and addressing electrical problems promptly is crucial, and our team fully comprehends the gravity of these issues. Our team is committed to prioritizing safety by assigning only certified, trained, and skilled electrical technicians. Our technicians are dedicated to pinpointing issues at their root to provide lasting solutions, using high-quality products.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-bolt-circle"></i></div>
              <h4><a href="">A/C Maintanance</a></h4>
              <p>Our team of experts has significant experience and training in diagnosing and resolving any AC-related issues. They are fully prepared to tackle any obstacles and guarantee that the job is finished within the agreed-upon timeframe for our valued customers.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="row">
          <div class="col-lg-9 text-center text-lg-start">
            <h3>Call To Action</h3>
            <p> Dont be shy, Just tell us about yourself and we’ll figure out the best option for you and your services.</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#">Call To Action</a>
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1">
            <div class="icon-box mt-5 mt-lg-0">
              <i class="bx bx-aperture"></i>
              <h4>Fitout & Renovation</h4>
              <p>Our team specializes in renovating and enhancing bathrooms to complement the overall aesthetic of the home and cater to the specific requirements of our clients. We meticulously focus on every aspect to ensure that the area is not only functional but also luxurious and stylish.</p>
            </div>
            <div class="icon-box mt-5">
              <i class="bx bx-cube-alt"></i>
              <h4>Interior Design</h4>
              <p>At Vista Fit Out, we believe that every space has a story to tell. Our passion for interior design is fueled by the desire to transform ordinary spaces into extraordinary experiences. With a keen eye for detail and a commitment to excellence, we bring your vision to life, creating environments that reflect your personality, style, and needs. </p>
            </div>
            <div class="icon-box mt-5">
              <i class="bx bx-atom"></i>
              <h4>Deep Cleaning</h4>
              <p>We are offers top-notch service by providing well-trained and experienced staff to deliver optimal results. Our team comes fully equipped with the essential chemicals, tools, and equipment needed to ensure superior outcomes. Rest assured that your property will be expertly cleaned to perfection when you book our service. Simply give us a call to schedule your property cleaning today.</p>
            </div>
          </div>
          <div class="image col-lg-6 order-1 order-lg-2" style='background-image: url("{% static 'assets/img/features.jpg' %}");'></div>
        </div>

      </div>
    </section><!-- End Features Section -->

    {% comment %} <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="text-center title">
          <h3>What we have achieved so far</h3>
          <p>Iusto et labore modi qui sapiente xpedita tempora et aut non ipsum consequatur illo.</p>
        </div>

        <div class="row counters position-relative">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
            <p>Clients</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
            <p>Projects</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
            <p>Hours Of Support</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
            <p>Hard Workers</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section --> {% endcomment %}

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <h2>Gallery</h2>
          {% comment %} <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> {% endcomment %}
        </div>

        {% comment %} <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              {% for category in links %}
              <li data-filter=".filter-app">{{category.category_name}}</li>
              {% endfor %}

            </ul>
          </div>
        </div> {% endcomment %}

        {% comment %} <div class="row portfolio-container">
          {% for product in products %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{{product.images.url}}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>{{product.product_name}}</h4>
              <a href="{{product.get_url}}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class=""></i></a>
            </div>
          </div>
          {% endfor %}
        </div> {% endcomment %}


        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{% static 'assets/img/products/ac.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>A/C Maintenance</h4>
              <a href="" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class=""></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{% static 'assets/img/products/cln2.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Cleaning</h4>
              <a href="" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class=""></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{% static 'assets/img/products/plumber1.png' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Plumbing</h4>
              <a href="" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class=""></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{% static 'assets/img/products/int3.jpg.webp' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Interior</h4>
              <a href="" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class=""></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{% static 'assets/img/products/Electr2.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Electrical</h4>
              <a href="" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class=""></i></a>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End Portfolio Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Vista fit out is leading provider of waterproofing services. dedicated to protecting your property from the harmful effects of water intrusion. Our team of experts uses the latest technology and industry best practices to deliver reliable, long-lasting results.</p>
        </div>
      </div>

      <div>
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.1985629645037!2d76.28689175259979!3d10.872497!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba7d03e871689d9%3A0x1e445d5512e2d736!2sNellaya%2C%20Kerala!5e0!3m2!1sen!2sin!4v1716915972263!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

      <div class="container">

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="ri-map-pin-line"></i>
                <h4>Location:</h4>
                <p>Nellaya, Palakkad, Kerala</p>
              </div>

              <div class="email">
                <i class="ri-mail-line"></i>
                <h4>Email:</h4>
                <p>vistafitout@gmail.com</p>
              </div>

              <div class="phone">
                <i class="ri-phone-line"></i>
                <h4>Call:</h4>
                <p>+91 8138815505</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form method="POST" role="form" class="php-email-form" action="{% url 'home' %}"  id="contactForm">
              
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>

              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
                
            
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message">error</div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>  
              <div  class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      {% comment %} <h3>Vista Fit Out</h3> {% endcomment %}
      <a href="#hero" class="logo me-auto me-lg-0"><img style="width:175px;height:70px;" src="{% static "assets/img/logo.png" %}" alt="" class="img-fluid"></a>



      <p>Our dedicated facilities team are on hand to promptly attend to any building services. </p>
      <div class="social-links">
        <a href="https://wa.me/918138815505" class="twitter"><i class="bx bi-whatsapp"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/vistafitout?igsh=MTg0aWhoMTQ0NTNiZA==" class="instagram"><i class="bx bxl-instagram"></i></a>
        
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Vista Fit Out</span></strong>. All Rights Reserved
      </div>
      
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/knight-simple-one-page-bootstrap-template/ -->
        Designed by <a href="https://www.linkedin.com/in/shahla-thasni?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app">AlShazTech</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

  <!-- contact script -->
  <script>
    document.getElementById('contactForm').addEventListener('submit', function(e) {
      e.preventDefault(); // Prevent the default form submission
      
      // Show loading
      document.querySelector('.loading').style.display = 'block';
      document.querySelector('.error-message').style.display = 'none';
      document.querySelector('.sent-message').style.display = 'none';
      
      // Simulate form submission
      setTimeout(function() {
        document.querySelector('.loading').style.display = 'none';
        document.querySelector('.sent-message').style.display = 'block';

        // Redirect to home.html after 2 seconds
        setTimeout(function() {
          location.reload();
        }, 2000);
      }, 2000); // Simulate a delay for the submission
    });
  </script>
</body>

</html>